name: Daily Threat Intel Ingest

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  update-db:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Setup Go
        uses: actions/setup-go@v4
        with:
          go-version: "1.25"

      - name: Run Ingestor (Daily Delta)
        run: go run main.go

      - name: Commit Updated DB
        run: |
          git config --global user.name 'SentinelBot'
          git config --global user.email 'sentinel@tobiwan.solutions'
          git add master_threat_db.csv
          git commit -m "Daily Intel Update: $(date +'%Y-%m-%d')" || exit 0
          git push


      
